*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    scroll-behavior: smooth;
    background-color: #f1f1f1;
    width: 100%;
    font-family: 'Inter';
}

.header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: #1a1a1a;
    color: #fff;
    padding: 12px 16px;

}

.desktop-logo{
    height: 30px;
    width: 104.87px;
    cursor: pointer;
    
}

.header input{
    height: 32px;
    width: 480px;
    border: 1px solid #616161;
    background: #303030;

    font-size: 13px;
    line-height: 18.2px;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    color: #b5b5b5;
    font-weight: bold;
    gap: 6px;

    padding-left: 25px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 14" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.82264 10.3833C7.89957 11.0841 6.74835 11.5 5.5 11.5C2.46243 11.5 0 9.03757 0 6C0 2.96243 2.46243 0.5 5.5 0.5C8.53757 0.5 11 2.96243 11 6C11 7.24835 10.5841 8.39957 9.8833 9.32264L12.7803 12.2197C13.0732 12.5126 13.0732 12.9874 12.7803 13.2803C12.4874 13.5732 12.0126 13.5732 11.7197 13.2803L8.82264 10.3833ZM9.5 6C9.5 8.20914 7.70914 10 5.5 10C3.29086 10 1.5 8.20914 1.5 6C1.5 3.79086 3.29086 2 5.5 2C7.70914 2 9.5 3.79086 9.5 6Z" fill="%23b5b5b5"/></svg>');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 13px;
}


.header input:hover{
    border: 0.5px solid #b5b5b5;
}

.header input:active{
    border: 2px solid #b5b5b5;
}

.nav-right {
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    gap: 8px;
    
}

.notification-wrap{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    gap: 8px;
    padding: 4px;
    background: #303030;
    border: 1px solid transparent;
    
}

.notification-wrap:hover{
    background: #656266;
}

.notification-wrap:active{
    border: 1px solid #005bd3;
}

a{
    text-decoration: none;
}

.notification{
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}

.name-wrap{
    width: 142px;
    height: 32px;
    border-radius: 8px;
    padding: 2px 2px 2px 8px;
    gap: 8px;
    background: #303030;
    cursor: pointer;
    border: 1px solid transparent;
}

.name-wrap:active{
    border: 1px solid #005bd3;
}

.name-wrap:hover{
    background: #656266;
}

.name{
    color: #e3e3e3;
    font-size: 12px;
    line-height: 15.6px;
    
}
.initials{
    color: rgba(0,0, 0, 0.4);
    background: #36fba1;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;
    border-radius: 5.25px;
}

main{
    padding-top: 32px;
}

.content-top{
    border: none;
    width: 800px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px 12px 16px;
    border-radius: 8px;
    
    background: #1a1a1a;
}

.content-top p{
    font-size: 13px;
    color: #e3e3e3;
    line-height: 18.2px;
    font-weight: 500;
    width:369px;
    height: 18px;
}

.button-wrap{
    width: 139px;
    height: 32px;
    gap: 8px;
    border:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button-wrap a button:hover{
    box-shadow: 0px -1px 1px #b5b5b5;
}

.button-wrap a button:active{
    border: 1px solid #005bd3;
}

.button-wrap svg{
    width: 20px;
    height: 20px
}

.content-top button{
    height: 28px;
    gap: 8px;
    border: 1px solid rgba(0,0, 0, 0.1);
    background: #fff;
    color: #323232;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    padding: 6px 12px;
}

.cross-icon-wrap{
    border-radius: 6px;
    gap: 8px;
    cursor: pointer;
}

.cross-icon-wrap svg{
    width: 20px;
    height: 20px;
}

button{
    cursor: pointer
}

.content{
    border: 1px solid #dbdbdb;
    padding-bottom: 8px;
    width: 800px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 7px;
    color: #303030;
    background: #fff;
    line-height: 150%;
    gap: 16px
}

.setup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.left{
    width: 376px;
    height:74px;
    gap: 16px
}

.left-top{
    width: 376px;
    height: 42px;
    gap: 4px;
}

.content-topic{
    font-size: 14px;
    font-weight: 600;
    color: #030303;
    line-height: 19.6px;
    
}

.content-paragraph{
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    color: #303030;
    
}

.complete{
    width: 88px;
    height: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    color: #303030;
    display: flex;
    align-items: center;
    gap: 6px
}

.total{
    background: #e3e3e3;
    width: 72px;
    height: 4px;
    border-radius: 28px;
   
}

.total-inner{
    background-color: #a1a1a1;
    width: 0%;
    height: 100%;
    border-radius: 28px;
}

.right{
    width: 28px;
    height: 28px;
    border-radius: 6px;
    padding: 4px;
    gap: 8px;
    cursor: pointer;
    border: 1px solid transparent;
}

.right:hover{
    background: #f1f1f1;
}

.right:active{
    border: 1px solid #005bd3;
}

.arrow-down{
    width: 9.5px;
    height: 5.5px;
   
}

.inner-wrap{
    padding: 8px 6px;
    border-radius: 6px;
}

.inner{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 8px;
}

.inner p{
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    color: #303030;
    gap: 16px;
    padding: 2px 8px;
    height: 22px;
    cursor: pointer;
    
}


.inner img{
    margin-right: 10px
}

.inner-details{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 2px 0px;
    margin-left: 40px;
    gap: 16px;
}


.inner-details p{
    
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 500;
    gap: 8px;
    color: #616161;
    border: none;
    
}

.inner-details .anchor{
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 500;
    color:#005bd3;
    text-decoration: none;
}

.inner-wrapper{
    width: 100%;
    gap: 2px
}

.flex2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    width: 168px;
    gap: 8px;
}


.inner-wrap1{
    padding: 8px 8px 12px 8px;
    border-radius: 10px;
    gap: 96px;
    border: none;
   
}

.background{
    background: #f3f3f3;
}

.loading-icon{
    width: 24px;
    height:24px;
    gap: 8px;
}

.Customize-btn{
    width: 127px;
    height: 28px;
    gap: 16px;
    border-radius: 6px;
    border-width: 1.5px 1.5px 0px 1.5px;
    border-color: #fff;
    gap: 8px;
    padding: 6px 12px 6px 12px;
    background-color: #404040;
    font-size: 12px;
    color: #f6f3f6;
    font-weight: 600;
    line-height: 15.6px;
    text-align: center;
    margin-top: 16px;
}

.import-btn{
    width: 112px;
    height: 28px;
    padding: 6px 12px;
    gap: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #323232;
    line-height: 15.6px;
}

.product-img{
    width: 156.14px;
    height: 120px
}

.btn-con{
    margin-top: 16px;
    gap: 16px;

}

.notification-con{
    width: 383px;
    
    gap: 16px;
    border: 1px solid #dbdbdb;
    padding: 16px;
    border-radius: 14px;
    background: #fff;
    z-index: 1;
    position: absolute;
    top: 64px;
    right: 12px
}

.alert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.alert p{
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    color: #303030;
}

.alert div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.check-wrap{
    border: 1px solid transparent;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}


.check-wrap:active{
    border: 1px solid #005bd3;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}


.filter-icon{
    width: 14px;
    height: 9.5px;
    
    cursor: pointer;
}

.check-wrap svg{
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 2px;
}

.alert-bottom{
    padding: 16px;
    gap: 8px;
    background: #f1f1f1;
}

.alert-bottom p{
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    color: #616161
}

.nav-con{
    border: none;
    width: 320px;
    height: 384px;
    gap: 4px;
    border: 1px solid #dbdbdb;
    padding: 6px 0px;
    border-radius: 14px;
    background: #fff;
    z-index: 1;
    color: #303030;
    position: absolute;
    top: 64px;
    right: 12px
    
}

.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    padding: 4px 12px 4px 8px;
    gap: 8px;
    background: #f1f1f1;
    
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    
    border: 1px solid transparent;
    padding: 4px 12px 4px 8px;
    gap: 8px;
    background: #fff;
    
}

.one{
    border-bottom: 0.75px solid #e1e1e1;
    margin: 6px 0px;
}

.nav-list:active{
    border: 2px solid #005bd3;
    border-radius: 8px;
}

.nav-list:hover{
    background-color: #f1f1f1;
    border-radius: 8px;
}

.nav-wrap p{
    color: #303030;
    font-size: 13px;
    font-weight: 600px;
    line-height: 182px;
}


.store-icon{
    width: 20px;
    height: 20px
}

.nav-list-para a p{
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    color: #303030;
    cursor: pointer;
    
}

.nav-list-para  p{
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    color: #303030;
    cursor: pointer;
    
    
}

.padding{
    padding: 0px 6px;
    gap: 4px
}

.email{
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    color: #616161
}

.gap{
    gap: 8px
}

.flex{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

.hide{
    display: none
}

.column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mobile-logo{
    display: none
}

@media screen and (max-width: 414px) {
    body {
        width: 390px; 
        background: #f1f1f1;
        overflow: hidden;
    }

    .header {
        width: 390px; 
        height: auto; 
        padding: 12px 16px;
        gap: 8px;
        background: #303030;
        display: flex;
        justify-content: space-between;
        
    }

    .mobile-top-left{
        display: flex;
        align-items: center;
        width: 390px;
        height: 32px;
        gap: 8px;
    }

    .name-wrap{
        width: 100%;
    }

    .name-wrap:hover{
        background: none;
    }

    .desktop-logo,.name {
        display: none;
    }

    .mobile-logo {
        display: block;
        width: 32px;
        height: 32px;
    }

    .header input {
        width: 100%; 
        max-width: 238px;
        height: 32px;
        border: 1px solid #616161;
        border-radius: 8px;
        padding: 8px;
        padding-left: 24px;
        gap: 6px;
        background-color: #303030;
        color: #616161;
    }

    main{
        padding-top: 28px;
        gap: 16px;
        height: 244px;
        width: 390px;
        max-width: 100%;
    }

    .content-top{
        width: 390px;
        height: auto;
        color: #1a1a1a;
        border-radius: 0;
        padding: 12px 40px 12px 16px;
        gap: 16px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .column{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px 8px 22px;
        gap: 16px;
    }

    .content{
        width: 390px;
        padding: 8px 0 32px 8px;
        gap: 16px;
        border: 1px solid #dbdbdb;
        background: #fff;
        color: #dbdbdb;
        border-radius: 0;
    }

    .content-topic{
        padding-bottom: 16px;
    }

    .column p{
        
        padding-right: 20px;
        margin-bottom: 16px;
    }

    .content-paragraph{
        gap: 8px;
    }

    
    .setup{
        display: flex;
        flex-direction: row;
    }

    .right{
        position: relative;
        right: 45px;
    }

    .inner-wrapper{
        width: 374px;

    }

    .product-img{
        display: none;
    }

    .notification-con{
        width: 356px;
    }

    .cross-icon-wrap{
        border-radius: 6px;
        gap: 8px;
        cursor: pointer;
        margin-bottom: 35px;
    }

   .flex2{
    margin-top: 28px;
   }

}
